<mat-sidenav-container class="example-container">
  <mat-sidenav mode="side" opened style="background-color: lightskyblue">
    <mat-list role="list">
      <mat-list-item role="listitem" routerLink="home" [routerLinkActive]="'active'"> <span style="font-weight: bold;"> Home </span> </mat-list-item>
      <mat-list-item role="listitem" routerLink="lista amici" [routerLinkActive]="'active'"> <span style="font-weight: bold;"> Lista Amici </span> </mat-list-item>
      <mat-list-item role="listitem" routerLink="carte" [routerLinkActive]="'active'"> <span style="font-weight: bold;"> Carte </span> </mat-list-item>
      <mat-list-item role="listitem" routerLink="mazzi" [routerLinkActive]="'active'"> <span style="font-weight: bold;"> Mazzi </span> </mat-list-item>
      <mat-list-item role="listitem" routerLink="marketplace" [routerLinkActive]="'active'"> <span style="font-weight: bold;"> Marketplace </span> </mat-list-item>
      <mat-list-item role="listitem" routerLink="matchmaking" [routerLinkActive]="'active'"> <span style="font-weight: bold;"> Matchmaking </span> </mat-list-item>
      <mat-list-item role="listitem" routerLink="account" [routerLinkActive]="'active'"> <span style="font-weight: bold;"> Account </span> </mat-list-item>
      <button style="background-color: black;" mat-flat-button color="primary" class="botton-scambio-carte" (click)="onLogout()">Logout</button>
    </mat-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
