<mat-tab-group>
  <mat-tab label="Artisti">
    <div class="card-container">
      <div *ngFor="let cartaA of itemsA" class="card">
        <div class="card-content">
          <div class="card-header">
            <h4>{{ cartaA.nome }} {{ cartaA.cognome }}</h4>
            <p>{{ cartaA.genere }}</p>
            <p>Pop:{{ cartaA.popolarita }}</p>
          </div>
          <div class="card-image">
            <img [src]="cartaA.immagine" alt="Immagine">
          </div>
          <div class="card-footer">
            <button (click)="openVendiPopup(cartaA)" class="card-button">Vendi</button>
          </div>
        </div>
      </div>
    </div>
  </mat-tab>
  <mat-tab label="Brani">
    <div class="card-container">
      <div *ngFor="let cartaA of itemsT" class="card">
        <div class="card-content">
          <div class="card-header">
            <h4>{{ cartaA.nome }} {{ cartaA.cognome }}</h4>
            <p>{{ cartaA.anno_pubblicazione }}</p>
            <p>{{ cartaA.durata }}</p>
            <p>Pop:{{ cartaA.popolarita }}</p>
          </div>
          <div class="card-image">
            <img [src]="cartaA.immagine" alt="Immagine">
          </div>
          <div class="card-footer">
            <button (click)="openVendiPopup(cartaA)" class="card-button">Vendi</button>
          </div>
        </div>
      </div>
    </div>
  </mat-tab>
</mat-tab-group>
