

<mat-card>
  <mat-card-content class="custom-barra-superiore">
    <p class="paragrafo-barra-superiore">
      <span style="font-weight: bold"> Bentornato, {{this.nickname_user_logged}} </span>
    </p>
  </mat-card-content>
</mat-card>

<div class="card-container">

  <mat-card class="example-card custom-card card-left">
    <mat-card-header>
      <mat-card-title>
        <div class="header-container-left" style="width: 700px">
          <div class="header-left">
            <i class="material-icons">monetization_on</i>
            <span class="points-label" style="margin-left: 10px">Points</span>
          </div>
          <div class="header-left">
            <div class="points-value" style="margin-left: 5px">p {{ points_user }}</div>
          </div>
        </div>
      </mat-card-title>
    </mat-card-header>
  </mat-card>

  <mat-card class="example-card custom-card card-center" style="width: 220px">
    <mat-card-header>
      <mat-card-title>
        <div class="header-container-center" style="width: 700px">
          <div class="header-left">
            <i class="material-icons">group</i>
            <span class="points-label" style="margin-left: 10px">Matchmaking</span>
          </div>
          <div class="header-right">
            <div class="points-value" style="margin-top: 10px">utenti online: {{num_users_online}}</div>
          </div>
        </div>
      </mat-card-title>
    </mat-card-header>
  </mat-card>

  <mat-card class="example-card custom-card card-right">
    <mat-card-header>
      <mat-card-title>
        <div class="header-container-center" style="width: 700px">
          <div class="header-left">
            <i class="material-icons">group</i>
            <span class="points-label" style="margin-left: 10px">Lista amici</span>
          </div>
          <div class="header-right">
            <div class="small-text">{{num_amici_online_tot}} online</div>
            <div class="points-value">amici totali: {{num_amici_tot}}</div>
          </div>
        </div>
      </mat-card-title>
    </mat-card-header>

    <button mat-flat-button style="background-color: black;" class="botton-scambio-carte" (click)="pagina_scambi()">
      scambia carte
    </button>


  </mat-card>

</div>

<div class="chart-legend-container">

  <!-- Legenda sopra il grafico -->
  <div class="legend">
    <div class="legend-item">
      <div class="legend-color green"></div>
      <div class="legend-text">Profitto Totale Positivo</div>
    </div>
    <div class="legend-item">
      <div class="legend-color red"></div>
      <div class="legend-text">Profitto Totale Negativo</div>
    </div>
    <div class="legend-item">
      <div class="legend-color gray"></div>
      <div class="legend-text">Profitto Totale Uguale a Zero</div>
    </div>
  </div>

  <!-- Grafico a barre -->
  <div class="chart-container">
    <canvas baseChart
            [datasets]="barChartData"
            [labels]="barChartLabels"
            [options]="barChartOptions"
            [legend]="barChartLegend"
    >
    </canvas>
  </div>
</div>
