.registration-box {
  background-color: #f0f0f0; /* Colore di sfondo grigio chiaro */
  width: 300px; /* Larghezza del quadrato */
  padding: 20px; /* Spaziatura interna */
  border: 1px solid #ccc; /* Bordo */
  border-radius: 5px; /* Angoli arrotondati */
  margin: 0 auto; /* Centra il quadrato orizzontalmente */
  text-align: center; /* Centra il testo orizzontalmente */
}
.equal-width {
  width: 100%;
}
.error-message {
  color: darkred; /* Cambia il colore a tuo piacimento */
  font-weight: bold;
}
.bg-transparent{
  background-color: transparent;
}
:host{
  height: 100%;
}
.photo{
  object-fit: contain;
}
.card{
  width: 20rem;
  margin: 0 auto;
}
